<VirtualHost *:{{ https_port }}>
    ServerAdmin {{ email }}
    ServerName {{ server_name }}
    ServerAlias www.{{ server_name }}
    DocumentRoot {{ moodle_root_path }}

    <Directory {{ moodle_root_path }}>
        Options -Indexes
        AllowOverride All
    </Directory>

    <IfModule mod_dir.c>
        DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.htm
    </IfModule>

    ErrorLog ${APACHE_LOG_DIR}/{{ server_name }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ server_name }}_access.log combined

    SSLEngine on
    SSLCertificateFile /etc/ssl/certs/{{ server_name }}.crt
    SSLCertificateKeyFile /etc/ssl/private/{{ server_name }}.key
</VirtualHost>
